*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app-container{
    width: 100vw;
    height: 100vw;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app{
    width: 40%;
    height: 40%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 40px;
    background-color: #00000050;
    border-radius: 20px;
    border-top: 1px solid #ffffff80 ;
    border-left: 1px solid #ffffff80 ;
}
.app__title{
    text-align: center;
    color: white;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;

}
.search-box{
    width: 500px;
    position: relative;
}
.search-box .search__btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: white;
}
.search-box label{
    color: white;
}
.search-box fieldset{
    color: white;
}
.search-box input{
    padding-right: 40px;
    color: white;
}
.forecast{
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}


